<div class="row">
  <div id="bitcoinppi-global-dashboard" class="col-md-12">
    <div id="date-controls">
      <form class="form-inline" method="GET">
      </form>
    </div>
    <div id="bitcoinppi-global-chart" style="width: 100%; height: 400px"></div>
    <div id="bitcoinppi-global-filter-control" style="width: 100%; height: 75px"></div>
  </div>

  <div class="col-md-12">
    <%= content(:landingpage) %>
  </div>
</div>

<% content_for :navbar do %>
  <form id="timeframe-form" class="navbar-form navbar-left" role="search" method="GET">
    <input type="hidden" name="from" value="<%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %>">
    <input type="hidden" name="to" value="<%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>">

    <div class="form-group" style="cursor: pointer">
      <div id="daterangepicker" class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
        <div class="form-control display">
          <%= @timeseries.from_truncated.strftime("%Y-%m-%d") %> - <%= @timeseries.to_truncated.strftime("%Y-%m-%d") %>
        </div>
      </div>

      <button id="download-csv" class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i> Download CSV</button>
    </div>
  </form>
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= google_charts_src %>"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);

function drawChart() {
  var initialData = new google.visualization.DataTable(<%= @data_table.as_json.to_json %>);

  var formatter = new google.visualization.NumberFormat({negativeParens: false});
  formatter.format(initialData, 1); // Apply formatter to global_ppi column (2nd)

  var chart = new google.visualization.ChartWrapper({
    chartType: "LineChart",
    containerId: "bitcoinppi-global-chart",
    options: {
      chartArea: { width: "90%", height: "90%" },
      hAxis: { slantedText: false },
      legend: { position: "none" },
      focusTarget: "category",
      crosshair: {
        trigger: "both",
        orientation: "vertical",
        opacity: "0.5"
      }
    }
  });

  var dashboard = new google.visualization.Dashboard(document.getElementById("bitcoinppi-global-dashboard"));
  var rangeFilter = new google.visualization.ControlWrapper({
    controlType: "google.visualization.ChartRangeFilter",
    containerId: "bitcoinppi-global-filter-control",
    options: {
      filterColumnIndex: 0,
      ui: {
        chartType: "LineChart",
        chartOptions: {
          curveType: "function",
          chartArea: { width: "90%", height: "100%" },
          hAxis: {
            baselineColor: "none"
          }
        },
        minRangeSize: <%= @timeseries.tick_in_seconds %>
      }
    }
  });
  dashboard.bind(rangeFilter, chart);
  dashboard.draw(initialData);
};

$(function(){
  var form = $("#timeframe-form");

  function updateDateRange(from, to) {
    form.find("input[name=from]").val(from.format("YYYY-MM-DD HH:00"));
    form.find("input[name=to]").val(to.format("YYYY-MM-DD HH:00"));
    $("#daterangepicker .display").text(from.format("YYYY-MM-DD") + " - " + to.format("YYYY-MM-DD"));
  };

  $("#daterangepicker").daterangepicker({
    timePicker: true,
    timePicker24Hour: true,
    minDate: "2011-07-01",
    opens: "center",
    locale: {
      format: "YYYY-MM-DD"
    },
    startDate: '<%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %>',
    endDate: '<%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>',
    ranges: {
      "24 hours": [moment().subtract(1, "day").minutes(0), moment().minutes(0)],
      "1 week": [moment().subtract(1, "week").minutes(0), moment().minutes(0)],
      "1 month": [moment().subtract(1, "month").minutes(0), moment().minutes(0)],
      "year to date": [moment().startOf("year").minutes(0).hour(0), moment().minutes(0).hour(0)],
      "max range": ["2011-07-01 00:00", moment().minutes(0).hour(0)]
    }
  }, function(from, to) {
    updateDateRange(from, to);
    form.trigger("submit");
  });

  $(window).resize(function() {
    if (this.timer) clearTimeout(this.timer);
    this.timer = setTimeout(function() {
      $(window).trigger("resize-end");
    }, 100);
  });

  $(window).on("resize-end", function() {
    drawChart();
  });

  form.on("click", "#download-csv", function(event) {
    event.preventDefault();
    from = form.find("input[name=from]").val();
    to = form.find("input[name=to]").val();
    var url = "/v1.0/global_ppi.csv?from=" + encodeURIComponent(from) + "&to=" + encodeURIComponent(to);
    window.location.href = url;
  });
});
</script>
<% end %>

