<div class="row">
  <div id="bitcoinppi-global-dashboard" class="col-md-12">
    <div id="date-controls">
      <form class="form-inline" method="GET">
      </form>
    </div>
    <div id="bitcoinppi-global-chart" style="width: 100%; height: 400px"></div>
    <div id="bitcoinppi-global-filter-control" style="width: 100%; height: 75px"></div>
  </div>

  <div class="col-md-12">
    <%= content(:landingpage) %>
  </div>
</div>

<% content_for :navbar do %>
  <form id="timeframe-form" class="navbar-form navbar-left" role="search" method="GET">
    <input type="hidden" name="from" value="<%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %>">
    <input type="hidden" name="to" value="<%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></div>
        <input id="daterangepicker" class="form-control" style="width: 265px">
      </div>
    </div>
  </form>
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= google_charts_src %>"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);

function drawChart() {
  var initialData = new google.visualization.DataTable(<%= @data_table.as_json.to_json %>);

  var chart = new google.visualization.ChartWrapper({
    chartType: "LineChart",
    containerId: "bitcoinppi-global-chart",
    options: {
      chartArea: { width: "90%", height: "90%" },
      hAxis: { slantedText: false },
      legend: { position: "none" },
      focusTarget: "category",
      crosshair: {
        trigger: "both",
        orientation: "vertical",
        opacity: "0.5"
      }
    }
  });

  var dashboard = new google.visualization.Dashboard(document.getElementById("bitcoinppi-global-dashboard"));
  var rangeFilter = new google.visualization.ControlWrapper({
    controlType: "google.visualization.ChartRangeFilter",
    containerId: "bitcoinppi-global-filter-control",
    options: {
      filterColumnIndex: 0,
      ui: {
        chartType: "LineChart",
        chartOptions: {
          curveType: "function",
          chartArea: { width: "90%", height: "100%" },
          hAxis: {
            baselineColor: "none"
          }
        },
        minRangeSize: <%= 1.day %>
      }
    }
  });
  dashboard.bind(rangeFilter, chart);
  dashboard.draw(initialData);
};

$(function(){
  var form = $("#timeframe-form");

  $("#daterangepicker").daterangepicker({
    timePicker: true,
    timePicker24Hour: true,
    minDate: "07/01/2011",
    locale: {
      format: "YYYY-MM-DD hh:mm"
    },
    startDate: '<%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %>',
    endDate: '<%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>',
    ranges: {
      "24 hours": [moment().subtract(1, "day"), moment()],
      "1 week": [moment().subtract(1, "week"), moment()],
      "1 month": [moment().subtract(1, "month"), moment()],
      "year to date": [moment().startOf("year"), moment()]
    }
  }, function(from, to) {
    form.find("input[name=from]").val(from.format("YYYY-MM-DD hh:mm"));
    form.find("input[name=to]").val(to.format("YYYY-MM-DD hh:mm"));
    form.trigger("submit");
  });

  $(window).resize(function() {
    if (this.timer) clearTimeout(this.timer);
    this.timer = setTimeout(function() {
      $(window).trigger("resize-end");
    }, 100);
  });

  $(window).on("resize-end", function() {
    drawChart();
  });
});
</script>
<% end %>

