<div class="row">
  <%
    today, yesterday = @dataset.all.first(2)
    if today && yesterday
      diff = today[:global_ppi] - yesterday[:global_ppi]
      percent = yesterday == 0 ? 0.0 : (diff / today[:global_ppi] * 100.0)
      css_class = diff >= 0 ? "positive" : "negative"
  %>
    <h2><b><%= today[:global_ppi].round(2) %></b> <span class="diff <%= css_class %>"><%= diff.round(2) %> (<%= percent.round(2) %>%)</span></h2>
    <p>
      Number of Big Macs 1 bitcoin buys you<br>
      <%= today[:tick].strftime("%b %-d, %H:%M UTC") %> close and one day change
    </p>
  <% end %>
</div>
<div class="row">
  <div id="chart" class="col-md-9"></div>
  <div id="legend" class="col-md-3">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= content(:landingpage) %>
  </div>
</div>

<% content_for :navbar do %>
  <form id="timeframe-form" class="navbar-form navbar-left" role="search" method="GET">
    <input type="hidden" name="from" value="<%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %>">
    <input type="hidden" name="to" value="<%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>">

    <div class="form-group" style="cursor: pointer">
      <div id="daterangepicker" class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
        <div class="form-control display">
          <%= @timeseries.from_truncated.strftime("%Y-%m-%d %H:%M") %> - <%= @timeseries.to_truncated.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>

      <button id="download-csv" class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i> Download CSV</button>
    </div>
  </form>
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
  <style>
    .diff {
      font-size: 70%;
      font-weight: normal;
    }
    .diff.positive:before {
      content: "+";
    }
    .diff.positive {
      color: green;
    }
    .diff.negative {
      color: red;
    }

    #chart {
      height: 350px;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .highlight {
      visibility: hidden;
    }
    .highlight line {
      shape-rendering: crispEdges;
      opacity: 0.4;
    }
    .highlight circle {
      opacity: 0.6;
    }
    .tick line {
      opacity: 0.2;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke-width: 1.5px;
      shape-rendering: auto;
    }
    .overlay {
      fill: none;
      pointer-events: all;
    }

    #legend ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    #legend li {
      font-weight: bold;
      position: relative;
    }
    #legend li .remove {
      position: absolute;
      display: block;
      width: 20px;
      top: 1px;
      left: -20px;
      font-weight: normal;
      cursor: pointer;
      opacity: 0.4;
    }
    #legend li:hover .remove {
      opacity: 1.0;
    }
    #legend li span.current-value {
      color: black;
      font-weight: normal;
    }
  </style>
<% end %>

<% content_for :script do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script type="application/json" id="data"><%= @dataset.as_json.to_json %></script>
  <script type="application/json" id="countryNames"><%= @country_names.to_json %></script>
  <script type="text/javascript" src="/chart.js"></script>
  <script type="text/javascript" src="/interactivity.js"></script>
<% end %>

